.content{
    min-height: 16rem;
    padding: 1rem;
    display: flex;
    gap: 2rem;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5rem;
}
.buttons{
   display: flex;
    gap: 2rem;
    margin: auto;
    height: 4rem;

    & button{
    font-size: 2rem;
        width: 10rem;
    }
}