@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.resume {
  background-color: white;
  border-radius: 0.2rem;
  width: 100%;
  padding-top: 141.5%;
  height: 0;
  position: relative;
}

.page {
  transform-origin: top left;
  width: 210mm;
  height: 297mm;
  position: absolute;
  overflow: hidden;
  top: 0;
}

.pageSection:last-of-type {
  padding-bottom: 0 !important;
}

.twoColumns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.personalDetailsBlock {
  text-align: center;
  @include center;
  flex-direction: column;
}

.info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  & svg {
    margin-top: 0.2rem;
  }
}

.infoBlock {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  row-gap: 0.5rem;
}

.headingTopBottomLine {
  text-align: center;
  padding: 0.3rem;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.headingBox {
  text-align: center;
  padding: 0.3rem;
  position: relative;
}

.headingBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.1;
}

//skills & language settings
.gridFormat,
.levelFormat {
  display: grid;
  column-gap: 2rem;
  row-gap: 1rem;
}
.levelFormat {
  grid-template-columns: 1fr 1fr;
}
.textFormat,
.bubbleFormat {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.bubbleFormat {
  gap: 1rem;
}

.bubble {
  border-radius: 0.5rem;
  padding: 0.5rem;
}

//level bar
.level {
  display: flex;
  gap: 0.5rem;
}
.levelBubble {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}
