@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.resume {
  background-color: white;
  border-radius: 0.2rem;
  width: 100%;
  padding-top: 141.5%;
  height: 0;
  position: relative;
}

.page {
  transform-origin: top left;
  width: 210mm;
  height: 297mm;
  position: absolute;
  overflow: hidden;
  top: 0;
}

.pageSection:last-of-type {
  padding-bottom: 0 !important;
}

.twoColumns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding-top: 1.5rem;
}

.sectionTitle {
  font-weight: 700;
}

.personalDetailsBlock {
  text-align: center;
  @include center;
  flex-direction: column;
}
.additionalInfo {
  margin-top: 1rem;
  @include center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
