@import '../../styles/variables.scss';

.resume {
  background-color: white;
  border-radius: 0.2rem;
  width: 100%;
  padding-top: 141.5%;
  height: 0;
  position: relative;
}

.page {
  font-size: 1.5rem;
  transform-origin: top left;
  width: 210mm;
  height: 297mm;
  position: absolute;
  top: 0;
}

.content {
  display: flex;
  gap: 1rem;
  height: 100%;
}

.sectionTitle {
  text-align: center;
  font-weight: 600;
  padding: 0.5rem;
}

.personalDetailsBlock {
  text-align: center;
  padding: 1rem;
}
