@import '../../styles/variables.scss';

.resume {
  // padding: 0 10mm;
  border-radius: 0.2rem;
  padding-top: 141.5%;
  background-color: white;
  position: relative;
  max-height: 87.3rem;

  // width: calc(1.8 * 21vw);
  // height: calc(1.8 * 29.7vw);
}
.page {
  position: absolute;
  // background-color: rgb(77, 182, 95);
  // width: calc(100% - 20mm);
  // height: calc(100% - 20mm);
  width: 100%;
  height: 100%;
  // top: 10mm;
  top: 0;
}

.sectionTitle {
  text-align: center;
  background-color: rgb(244, 244, 244);
  font-weight: 600;
  padding: 0.5rem;
}
