
@import '../../../styles/mixins.scss';

.style {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  & button {
    width: 11rem;
    height: 5rem;
    @include center;
  }
}
.box {
  @include headingStyle;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    left: -1.7rem;
    top: -0.7rem;
    width: 7rem;
    height: 2rem;
    border: 0.2rem solid var(--color-gray);
  }
  &.active {
    background-color: var(--color-ui-blue);
    &:after {
      border: 0.2rem solid var(--color-ui-blue);
    }
  }
}
.simple {
  @include headingStyle;
  margin-right: auto;
  &.active {
    background-color: var(--color-ui-blue);
  }
}
.topBottomLine {
  @include headingStyle;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    left: -1.5rem;
    top: -0.7rem;
    width: 7rem;
    height: 2rem;
    border-top: 0.2rem solid var(--color-gray);
    border-bottom: 0.2rem solid var(--color-gray);
  }
  &.active {
    background-color: var(--color-ui-blue);
    &:after {
      border-top: 0.2rem solid var(--color-ui-blue);
      border-bottom: 0.2rem solid var(--color-ui-blue);
    }
  }
}
.line {
  @include headingStyle;
  margin-right: auto;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: -0.7rem;
    width: 7rem;
    height: 2rem;
    border-bottom: 0.2rem solid var( --color-gray);
  }
  &.active {
    background-color: var(--color-ui-blue);
    &:after {
      border-bottom: 0.2rem solid var(--color-ui-blue);
    }
  }
}
