.gridFormat,
.levelFormat {
  display: grid;
  column-gap: 2rem;
  row-gap: 1rem;
}

.levelFormat {
  grid-template-columns: 1fr 1fr;
}

.textFormat,
.bubbleFormat {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.bubbleFormat {
  gap: 1rem;
}

.bubble {
  border-radius: 0.5rem;
  padding: 0.5rem;
}

// level bar
.level {
  display: flex;
  gap: 0.5rem;
}

.levelBubble {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
}