.heading {
  margin-bottom: 1rem;
}

.cards{
  display: grid;
  width: 100rem;
  gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2rem;
  
  & > *{
    min-height: 12rem;
    height: 100%;
  }
}
