@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.button {
  cursor: pointer;
  font-size: 2rem;
  padding: 1rem;
  border-radius: $border-radius;
  @include center;
  &-white {
    &--active {
      background-color: rgba(243, 243, 243, 0.77);
      color: $color-ui;
    }
  }
}
