
@import '../../../styles/mixins.scss';

.tag {
  background-color: var(--color-bg);
  color: var(--color-font--medium);
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem;
  border-radius: var(--radius-btn--l);
  transition: all 0.1s;
  @include center;
  gap: 1rem;

  &:hover {
    color: var(--color-font--light);
    background-color: var(--color-bg--light);
  }
}
