@import '../../../styles/mixins';

.resumeContainer {
  border-radius: 0.2rem;
  position: sticky;
  top: 2rem;
  overflow-y: auto;
  height: 100vh;
  max-height: 100vh;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: rgb(255 255 255 / 0%);
  }
}

.pageContent {
  background-color: white;
  transform-origin: top left;
  width: 210mm;
  height: 297mm;
  position: absolute;
  top: 0;
  overflow: hidden;
}

.twoColumns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

