@import './variables.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  max-width: 100vw;
}

body {
  background-color: $color-bg;
  color: $color-font;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  padding: 2rem;
  margin: 0 auto;
  max-width: 150rem;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}

input,
select {
  padding: 1rem 1.5rem;
  border: 0;
  background: $color-bg;
  border-radius: $border-radius;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;

  &:focus {
    outline: none;
  }
}

label {
  margin-left: 1rem;
}
