@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin bordered-box {
  border-radius: 1rem;
  border: 1px solid var(--color-gray);
  cursor: pointer;
  transition: transform 0.1s;

  &:hover {
    filter: brightness(1.1) saturate(0.9);
    transform: scale(1.02);
  }
}

@mixin bordered-circle {
  border-radius: 50%;
  border: 1px solid var(--color-gray);
  cursor: pointer;
  transition: transform 0.1s;

  &:hover {
    filter: brightness(1.1) saturate(0.9);
    transform: scale(1.02);
  }
}

@mixin heading-style {
  width: 4rem;
  height: 1rem;
  background-color: var(--color-gray);
}

@mixin media($maxWidth) {
  @media (max-width: $maxWidth) {
    @content;
  }
}
