@import './variables.scss';
@import './mixins.scss';

.flex {
  display: flex;
  gap: 2rem;

  &-column {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
.flexWrap {
  flex-wrap: wrap;
}

.spaceBetween {
  justify-content: space-between;
}

.gap-1 {
  gap: 1rem;
}

.grid {
  display: grid;
  gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.p-2 {
  padding: 2rem;
}
.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.rightPositioned {
  margin-left: auto;
}
.centered {
  @include center;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.5rem;

  & input {
    width: 100%;
  }
}

.bold {
  font-weight: 600;
}

.pointer {
  cursor: pointer;
}
