//Color
$color-bg: rgb(239, 239, 239);
$color-bg--light: rgba(239, 239, 239, 0.731);
$color-ui: rgb(236, 108, 157);
$color-ui--light: rgba(236, 108, 157, 0.757);
$color-font: rgb(27, 29, 47);
$color-font--light: rgba(27, 29, 47, 0.812);

//Radius
$border-radius: 2rem;
$border-radius--btn: 3rem;

//Page
$page-width: 59.5rem;
$page-height: 84.2rem;
