@import '../../../styles/mixins.scss';

.button {
  border: 0;
  background-color: inherit;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem 2.5rem;
  border-radius:var( --radius-btn--l);
  transition: all 0.1s;
  @include center;
}

.button-white{
  background-color: #fff;
}

.button-nav,
.button-white {
  padding: 1rem;

  &:hover {
    opacity: 0.8;
  }
}

.button-nav {
  font-size: 1.8rem;
}

.button-nav--active {
  background-image: var(--gradient-pink);
  background-size: 100%;
  background-clip: text;
  color:transparent;
}

.button-gray {
  background-color: var(--color-bg);
  color:var( --color-gray--dark);
  &:hover {
    opacity: 0.8;
  }
}

.button-red {
  background-color: var(--color-red);
  color: white;
  &:hover {
    opacity: 0.8;
  }
}

.button-customization {
  padding: 1rem 1.5rem;
  border-radius: var(--radius-btn--m);
  border: 1px solid var(--color-gray);
  cursor: pointer;
  transition: transform 0.1s;
  color: --color-gray--dark;

  &:hover {
    opacity: 0.8;
    transform: scale(1.02);
  }
}

.button-customization--active {
  border: 1px solid var(--color-ui-blue);
  background-color: var(--color-ui-blue--light);
  color: var(--color-ui-blue);
}

.button-pink {
  background: var(--gradient-pink);
  color: white;
  &:hover {
    opacity: 0.85;
  }
}

.button-thickBorder {
  border: 5px solid var(--color-bg);
  &:hover {
    opacity: 0.8;
    transform: scale(1.02);

  }
}

.button-thinBorder {
  width: fit-content;
  border: 2px solid var(--color-bg);
  &:hover {
    opacity: 0.8;
    transform: scale(1.02);

  }
}
