@import '../../styles/mixins';

.navigation{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: sticky;
  top: 2rem;
  height: fit-content;
  width: 21rem;
}

.main{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 1rem;
}

.backBtn{
  height: 2rem;

  &:hover{
    opacity: 0.75;
  }
}