.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  inset: 0;
}
.modal {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 120rem;
}
