@import '../../../styles/mixins.scss';

.button {
  width: 6rem;
  height: 3rem;

  &_active {
    & .item {
      background: var(--color-ui-blue);
    }
  }
}

.itemContainer {
  width: 100%;
  display: flex;
  gap: 2px;
}
.item {
  width: 100%;
  height: 1.5rem;
  background: var(--color-gray);
  border-radius: 1px;
}
