
@import '../../../styles/mixins';

.list {
  font-size: 1.5rem;
  list-style: none;
}

.listItem {
  background: white;
  transition: all 0.2s;
  padding: 2rem;
  pointer-events: none;

  &::before {
    content: '';
    display: none;
  }
}

.devider {
  width: 100%;
  height: 0.5rem;
  background-color: var(--color-bg);
}

.primary {
  color: var(--color-font--medium);
  font-size: 1.7rem;
}

.secondary {
  color: black;
  font-size: 1.3rem;
}
