@import '../../../styles/mixins';

.info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
  
.infoBlock {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  row-gap: 0.5rem;
}

.personalDetailsBlock {
  text-align: center;

  @include center;

  flex-direction: column;
}